:root {
  /* colors */
  --slate-900: #1f314f;
  --slate-500: #68778d;
  --slate-300: #d5e1ef;
  --white: #fff;

  /* spacing */
  --spacing-500: 40px;
  --spacing-300: 24px;
  --spacing-200: 16px;

  /* shadows */
  --card-shadow: 0px 25px 25px rgba(0, 0, 0, 4.77%);
}

.text-preset-1 {
  font: 700 22px/120% "Outfit", sans-serif;
  letter-spacing: 0px;
}

.text-preset-2 {
  font: 400 15px/140% "Outfit", sans-serif;
  letter-spacing: 0.2px;
}

* {
  box-sizing: border-box;
}

body {
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.bg {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--slate-300);
  z-index: -1;
}

.container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 var(--spacing-200);
}

.card {
  margin: 0 auto;
  padding: var(--spacing-200) var(--spacing-200) var(--spacing-500)
    var(--spacing-200);
  max-width: 320px;
  background-color: var(--white);
  box-shadow: var(--card-shadow);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-300);
}

.card__qr {
  max-width: 100%;
  display: block;
  border-radius: 10px;
}

.card__text {
  padding: 0 var(--spacing-200);
  display: flex;
  flex-direction: column;
  gap: var(--spacing-200);
}

.card__title {
  margin: 0;
  text-align: center;
  color: var(--slate-900);
}

.card__subtitle {
  margin: 0;
  text-align: center;
  color: var(--slate-500);
}

.attribution {
  width: 100%;
  margin: var(--spacing-200) auto;
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
